<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Mudo | Enjoy The Shopping</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/image0.jpeg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/css/main.css?v=5.6" />
</head> 
<body>

    <header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a asp-area="User" asp-controller="Home" asp-action="Index"><img src="~/image0.jpeg" alt="logo" style="max-height:130px;width:auto" /></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form asp-controller="Product" asp-action="SearchProduct">
                                <input type="text" name="q" placeholder="Ürün ara..." />
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">

                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <div class="header-action-icon-2">
                                        <a asp-area="Identity" asp-controller="Account" asp-action="Profile">
                                            <img class="svgInject" alt="Nest" src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-user.svg" />
                                        </a>
                                        <a href="#"><span class="lable ml-0">Hesabım</span></a>
                                        <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                            <ul>
                                                @if (User.IsInRole(Role.Role_Admin))
                                                {
                                                    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Paneli</a></li>
                                                }
                                                <li><a asp-area="Identity" asp-controller="Account" asp-action="PriceOffers">Fiyat Teklifleri</a></li>
                                                <li><a asp-area="Identity" asp-controller="Account" asp-action="Logout">Çıkış</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="header-action-icon-2">
                                        <a asp-area="Identity" asp-controller="Account" asp-action="Login"><span class="lable">Giriş</span></a>
                                    </div>
                                    <div class="header-action-icon-2">
                                        <a asp-area="Identity" asp-controller="Account" asp-action="Register"><span class="lable">Kayıt Ol</span></a>
                                    </div>
                                }
                                @if (User.Identity.IsAuthenticated && HttpContextAccessor.HttpContext.Session.GetInt32(Other.ssShopingCart) != null)
                                {

                                    <div class="header-action-icon-2">
                                        <a class="mini-cart-icon" asp-area="User" asp-controller="Cart" asp-action="Index">
                                            <img alt="Nest" src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-cart.svg" />
                                            @{
                                                var count = HttpContextAccessor.HttpContext.Session.GetInt32(Other.ssShopingCart);
                                                <span class="pro-count blue">@count</span>
                                            }
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="header-action-icon-2">
                                        <a class="mini-cart-icon" asp-area="Identity" asp-controller="Account" asp-action="Login">
                                            <img alt="Nest" src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-cart.svg" />
                                            <span class="pro-count blue">0</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a asp-area="User" asp-controller="Home" asp-action="Index"><img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/logo.svg" alt="logo" /></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categories-button-active" href="#">
                                <span class="fi-rs-apps"></span> <span class="et">Kategorileri</span> Keşfet
                                <i class="fi-rs-angle-down"></i>
                            </a>
                            <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        @await Component.InvokeAsync("CategoryListVC")
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li class="hot-deals">
                                        <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-hot.svg" alt="hot deals" /><a asp-area="User" asp-controller="Product" asp-action="CampaignProduct">Kampanyalar</a>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="Home" asp-action="Index">Anasayfa</a>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="Product" asp-action="ProductList">Ürünler <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            @await Component.InvokeAsync("CategoryListVC")
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="Home" asp-action="Brands">Markalarımız</a>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="Blog" asp-action="BlogList">Blog</a>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="Home" asp-action="Contact">İletişim</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-flex">
                        <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                        <p>Canlı Destek<span>Bize ulaşın</span></p>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated && HttpContextAccessor.HttpContext.Session.GetInt32(Other.ssShopingCart) != null)
                    {
                        <div class="header-action-right d-block d-lg-none">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" asp-area="User" asp-controller="Cart" asp-action="Index">
                                        <img alt="Nest" src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-cart.svg" />
                                        @{
                                            var count = HttpContextAccessor.HttpContext.Session.GetInt32(Other.ssShopingCart);
                                            <span class="pro-count blue">@count</span>
                                        }
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="header-action-right d-block d-lg-none">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" asp-area="Identity" asp-controller="Account" asp-action="Login">
                                        <img alt="Nest" src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-cart.svg" />
                                        <span class="pro-count blue">0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a asp-area="User" asp-controller="Home" asp-action="Index"><img src="~/özmen gıda som_çalışma yüzeyi 1.png" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form asp-controller="Product" asp-action="SearchProduct">
                        <input type="text" name="q" placeholder="Ürün ara..." />
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a asp-area="User" asp-controller="Product" asp-action="CampaignProduct">Kampanyalar</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-area="User" asp-controller="Home" asp-action="Index">Anasayfa</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-area="User" asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-area="User" asp-controller="Product" asp-action="ProductList">Ürünler <i class="fi-rs-angle-down"></i></a>
                                <ul class="sub-menu">
                                    @await Component.InvokeAsync("CategoryListVC")
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-area="User" asp-controller="Home" asp-action="Brands">Markalarımız</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-area="User" asp-controller="Blog" asp-action="BlogList">Blog</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-area="User" asp-controller="Home" asp-action="Contact">İletişim</a>
                            </li> 
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>  
                <div class="site-copyright">Copyright 2024 © Tüm Hakları Saklıdır.</div>
            </div>
        </div>
    </div>
    <!--End header-->
    @RenderBody()
    <footer class="main">
        <section class="featured section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-1.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">En iyi fiyatlar ve teklifler</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                            <div class="banner-icon">
                                <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-2.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Ürün çeşitliliği</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                            <div class="banner-icon">
                                <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-3.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Harika fırsatlar</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                            <div class="banner-icon">
                                <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-4.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Geniş ürün yelpazesi</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                            <div class="banner-icon">
                                <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-5.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">100% Memnuniyet</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                            <div class="logo mb-30">
                                <a asp-area="User" asp-controller="Home" asp-action="Index" class="mb-15">
                                    <img src="~/image0.jpeg" alt="logo" style="max-height:100px;width:auto" />
                                </a>
                                <p class="font-lg text-heading">İletişim Bilgilerimiz</p>
                            </div>
                            <ul class="contact-infor">
                                @await Component.InvokeAsync("ContactInformationVC")
                            </ul>
                        </div>
                    </div>
                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                        <h4 class=" widget-title">Hızlı Linkler</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li>
                                <a asp-area="User" asp-controller="Home" asp-action="Index">Anasayfa</a>
                            </li>
                            <li><a asp-area="User" asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                            <li><a asp-area="User" asp-controller="Product" asp-action="ProductList">Ürünler</a></li>
                            <li><a asp-area="User" asp-controller="Product" asp-action="CampaignProduct">Kampanyalar</a></li>
                            <li><a asp-area="User" asp-controller="Home" asp-action="Brands">Markalarımız</a></li>
                            <li><a asp-area="User" asp-controller="Home" asp-action="Blog">Blog</a></li>
                            <li><a asp-area="User" asp-controller="Home" asp-action="Contact">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                        <h4 class="widget-title">Kategoriler</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            @await Component.InvokeAsync("CategoriesForFooterVC")
                        </ul>
                    </div>
                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                        <h4 class="widget-title">Ürünler</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            @await Component.InvokeAsync("ProductForFooterVC")
                        </ul>
                    </div>
                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                        <h4 class="widget-title">Bloglar</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            @await Component.InvokeAsync("LastBlogVC")
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-30 wow animate__animated animate__fadeInUp" data-wow-delay="0">
            <div class="row align-items-center">
                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <p class="font-sm mb-0">&copy; 2024, Tüm hakları saklıdır.</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 text-end d-none d-md-block">
                    <div class="mobile-social-icon">
                        <h6>Bizi Takip Edin</h6>
                        @await Component.InvokeAsync("SocialMediaVC")
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
@*     <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="~/image0.jpeg" alt="" />
                </div>
            </div>
        </div>
    </div> *@
    <!-- Vendor JS-->
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/slick.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/waypoints.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/wow.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/select2.min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/counterup.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/images-loaded.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/isotope.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/scrollup.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/main.js?v=5.6"></script>
    <script src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/js/shop.js?v=5.6"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html> 