@model IEnumerable<ProductCategory>

<div class="content-header">
    <div>
        <h2 class="content-title card-title">Kategori Listesi</h2> 
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <form method="Post" asp-action="AddCategory">
                    <div class="mb-4">
                        <label class="form-label">Kategori Adı</label>
                        <input type="text" name="Title" placeholder="Kategori Adı" class="form-control" required/>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary">Yeni Kategori Ekle</button>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Kategori Adı</th>
                                <th class="text-end">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Title</td>
                                    <td class="text-end">
                                        <a asp-action="EditCategory" asp-route-id="@item.Id" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Güncelle </a>
                                        <a asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> Sil </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>