@model Contact

<li>
    <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-location.svg" alt="" />
    <strong>Adres: </strong>
    <span>@Model?.Address</span>
</li>
<li>
    <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-contact.svg" alt="" />
    <strong>Bizi Arayın:</strong>
    <span>@Model?.PhoneNumber</span>
</li>
<li>
    <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-email-2.svg" alt="" />
    <strong>Email:</strong>
    <span>@Model?.Email</span>
</li>
<li>
    <img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-clock.svg" alt="" />
    <strong>Çalışma Saatleri:</strong>
    <span>@Model?.OpeningHours</span>
</li>
    