@model IEnumerable<Blog>

@foreach (var item in Model)
{
    <li>
        <a asp-area="User" asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.Id">@item.Title</a>
    </li>
}                        