@model AboutUs

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a asp-action="Index" rel="nofollow"><i class="fi-rs-home mr-5"></i>Anasayfa</a>
                <span></span> Fiyat Teklifi Bekleniyor
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-12">
                            <div class="pl-25">
                                <h2 class="mb-30">En Yakın Zamanda Fiyat Teklifi Gönderilecektir</h2>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>