@model IEnumerable<SocialMedia>

@foreach (var item in Model)
{
    @if (item.SocialMediaName=="Facebook")
    {
        <a href="@item.Link" target="_blank"><img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-facebook-white.svg" alt="Facebook" /></a>
    }
    else if (item.SocialMediaName == "Twitter")
    {
        <a href="@item.Link" target="_blank"><img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-twitter-white.svg" alt="Twitter" /></a>
    }
    else if (item.SocialMediaName == "Instagram")
    {
        <a href="@item.Link" target="_blank"><img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-instagram-white.svg" alt="Instagram" /></a>
    }
    else if (item.SocialMediaName == "Youtube")
    {
        <a href="@item.Link" target="_blank"><img src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/theme/icons/icon-youtube-white.svg" alt="Youtube" /></a>
    }
}            