@model AppUser

<div class="content-header">
    <div>
        <h2 class="content-title card-title">Kullanıcı Bilgileri</h2>
    </div>
    <div>
        <a asp-action="UserList" class="btn btn-primary btn-sm rounded">Kullanıcı Listesi</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-4">
                    <label class="form-label">Ad Soyad: @Model?.NameSurname</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-4">
                    <label class="form-label">Email: @Model?.Email</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-4">
                    <label class="form-label">Telefon No: @Model?.PhoneNumber</label>
                </div>
            </div>
        </div>

        <form method="post">
            <input type="hidden" name="userId" value="@Model?.Id"/>
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-4">
                        <label class="form-label">Yeni Parola *</label>
                        <input type="text" name="NewPassword" placeholder="Yeni Parola" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <button class="btn btn-primary">Şifre Güncelle</button>
            </div>
        </form>
    </div>
</div>