<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a asp-area="User" asp-controller="Home" asp-action="Index" rel="nofollow"><i class="fi-rs-home mr-5"></i>Anasayfa</a>
                <span></span> Giriş <span></span> Şifremi Unuttum
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                    <div class="login_wrap widget-taber-content background-white">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <img class="border-radius-15" src="~/nest_v5.8_unzip-first/nest_v5.8_unzip-first/nest-frontend/assets/imgs/page/forgot_password.svg" alt="" />
                                <h2 class="mb-15 mt-15">Şifrenizi mi unuttunuz?</h2>
                                <p class="mb-30">Lütfen e-posta adresinizi  girin.</p>
                            </div>
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" required name="Email" placeholder="Email *" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Şifreyi Sıfırla</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>